*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

body {
    background-color: #FAFAF8;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
}

.weather-app{
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

.image img{
    width: 100%;
    max-height: 426px;
    object-fit: cover;
    object-position: bottom center;
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}

.left-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.temperature {
    color: #0092BB;
}
.condition{
    color: #0092BB;
}

.condition .icon{
    width: 74px;
    height: 54px;
}

.date-time{
    color: #0092BB;
}

.location {
  color: #0092BB;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  position: relative;
  display: inline-block;

  text-decoration: underline;
  text-decoration-color: #C4171A;
  text-decoration-thickness: 3px;
  text-underline-offset: 18px;
}

.right-info {
  display: flex;
  align-items: center center;
}

.search-box {
  position: relative; /* needed for pseudo-elements */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  height: 35px;
}

.search-box::before,
.search-box::after {
  content: "";
  position: absolute;
  border: 2px solid #0092BB;
}

/* Top left corner */
.search-box::before {
  top: 0;
  left: 0;
  width: 18px;
  height: 100%;
  border-right: none;
  border-bottom: none;
}

/* Bottom right corner */
.search-box::after {
  bottom: 0;
  right: 0;
  width: 18px;
  height: 100%;
  border-left: none;
  border-top: none;
}

.search-box input {
  border: none;
  font-size: 18px;
  color: #0092BB;
  outline: none;
  background: transparent;
  text-align: center;
}


.search-box input::placeholder {
  color: #0092BB;
  opacity: 0.6;
  text-align: center;
}

@media (max-width: 768px) {
    .info-section {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .right-info {
    margin-top: 80px;
  }
}
